USE [ALAPDb]
GO
/****** Object:  UserDefinedTableType [dbo].[Subject]    Script Date: 20-06-2019 22:53:19 ******/
CREATE TYPE [dbo].[Subject] AS TABLE(
	[SubjectID] [int] NOT NULL,
	[SubjectName] [varchar](100) NOT NULL,
	[IsSelected] [bit] NOT NULL,
	[SubjectMappingID] [int] NOT NULL,
	[IsRejectedByAdmin] [bit] NULL DEFAULT ((0))
)
GO
/****** Object:  UserDefinedTableType [dbo].[SubjectTemp]    Script Date: 20-06-2019 22:53:19 ******/
CREATE TYPE [dbo].[SubjectTemp] AS TABLE(
	[SubjectID] [int] NOT NULL,
	[SubjectName] [varchar](100) NOT NULL,
	[IsSelected] [bit] NOT NULL,
	[SubjectMappingID] [int] NOT NULL
)
GO
/****** Object:  Table [dbo].[LearningAgreement]    Script Date: 20-06-2019 22:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LearningAgreement](
	[LearningAgreementID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[IsApproved] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[LearningAgreementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SelectedSubjects]    Script Date: 20-06-2019 22:53:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SelectedSubjects](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectID] [int] NOT NULL,
	[LearningAgreementID] [int] NOT NULL,
	[IsSelected] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[IsRejectedByAdmin] [bit] NOT NULL,
	[IsDecided] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 20-06-2019 22:53:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[SubjectID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectName] [varchar](255) NOT NULL,
	[Module] [varchar](255) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transcript]    Script Date: 20-06-2019 22:53:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transcript](
	[TranscriptID] [int] IDENTITY(1,1) NOT NULL,
	[LearningAgreementID] [int] NULL,
	[FileData] [varchar](max) NULL,
	[FileName] [varchar](100) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
	[OcrJSON] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[TranscriptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDetails]    Script Date: 20-06-2019 22:53:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDetails](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](255) NOT NULL,
	[LastName] [varchar](255) NULL,
	[MatriculationNumber] [int] NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[IsAdmin] [bit] NULL,
	[Password] [nvarchar](255) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LearningAgreement] ON 

INSERT [dbo].[LearningAgreement] ([LearningAgreementID], [StudentID], [IsApproved], [IsDeleted], [CreatedDate]) VALUES (2048, 1049, 1, 0, CAST(N'2019-06-18T16:50:27.6133333' AS DateTime2))
INSERT [dbo].[LearningAgreement] ([LearningAgreementID], [StudentID], [IsApproved], [IsDeleted], [CreatedDate]) VALUES (2049, 1050, 1, 0, CAST(N'2019-06-18T17:15:14.4366667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[LearningAgreement] OFF
SET IDENTITY_INSERT [dbo].[SelectedSubjects] ON 

INSERT [dbo].[SelectedSubjects] ([ID], [SubjectID], [LearningAgreementID], [IsSelected], [IsDeleted], [CreatedDate], [IsRejectedByAdmin], [IsDecided]) VALUES (2595, 66, 2048, 1, 0, CAST(N'2019-06-18T16:50:27.6133333' AS DateTime2), 0, 1)
INSERT [dbo].[SelectedSubjects] ([ID], [SubjectID], [LearningAgreementID], [IsSelected], [IsDeleted], [CreatedDate], [IsRejectedByAdmin], [IsDecided]) VALUES (2596, 67, 2048, 1, 0, CAST(N'2019-06-18T16:50:27.6133333' AS DateTime2), 0, 1)
INSERT [dbo].[SelectedSubjects] ([ID], [SubjectID], [LearningAgreementID], [IsSelected], [IsDeleted], [CreatedDate], [IsRejectedByAdmin], [IsDecided]) VALUES (2597, 68, 2048, 1, 0, CAST(N'2019-06-18T16:50:27.6133333' AS DateTime2), 0, 1)
SET IDENTITY_INSERT [dbo].[SelectedSubjects] OFF
SET IDENTITY_INSERT [dbo].[Subjects] ON 

INSERT [dbo].[Subjects] ([SubjectID], [SubjectName], [Module], [IsActive], [CreatedOn]) VALUES (66, N'Fundamentals of Business Administration', N'ML_1.01', 1, CAST(N'2019-06-18T15:31:03.3900000' AS DateTime2))
INSERT [dbo].[Subjects] ([SubjectID], [SubjectName], [Module], [IsActive], [CreatedOn]) VALUES (67, N'Fundamentals of Logistics', N'ML_1.02', 1, CAST(N'2019-06-18T15:31:28.3300000' AS DateTime2))
INSERT [dbo].[Subjects] ([SubjectID], [SubjectName], [Module], [IsActive], [CreatedOn]) VALUES (68, N'Technical Fundamentals', N'ML_1.03', 1, CAST(N'2019-06-18T15:31:48.6466667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Subjects] OFF
SET IDENTITY_INSERT [dbo].[Transcript] ON 

SET IDENTITY_INSERT [dbo].[Transcript] OFF
SET IDENTITY_INSERT [dbo].[UserDetails] ON 

INSERT [dbo].[UserDetails] ([UserID], [FirstName], [LastName], [MatriculationNumber], [Email], [IsAdmin], [Password], [IsDeleted]) VALUES (6, N'Aravind', N'M', 0, N'aravindmathesan@gmail.com', 1, N'1234', 0)
INSERT [dbo].[UserDetails] ([UserID], [FirstName], [LastName], [MatriculationNumber], [Email], [IsAdmin], [Password], [IsDeleted]) VALUES (1049, N'Sriram', N'Murali', 26120, N'sriram.murali@hsrw.org', 0, N'reddevil20', 0)
INSERT [dbo].[UserDetails] ([UserID], [FirstName], [LastName], [MatriculationNumber], [Email], [IsAdmin], [Password], [IsDeleted]) VALUES (1050, N'Aravind', N'Madesan', 26563, N'aravind@gmail.com', 0, N'1234', 0)
SET IDENTITY_INSERT [dbo].[UserDetails] OFF
ALTER TABLE [dbo].[LearningAgreement] ADD  DEFAULT ((0)) FOR [IsApproved]
GO
ALTER TABLE [dbo].[LearningAgreement] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[LearningAgreement] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[SelectedSubjects] ADD  DEFAULT ((1)) FOR [IsSelected]
GO
ALTER TABLE [dbo].[SelectedSubjects] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[SelectedSubjects] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[SelectedSubjects] ADD  DEFAULT ((0)) FOR [IsRejectedByAdmin]
GO
ALTER TABLE [dbo].[SelectedSubjects] ADD  DEFAULT ((0)) FOR [IsDecided]
GO
ALTER TABLE [dbo].[Subjects] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Subjects] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Transcript] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Transcript] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[UserDetails] ADD  DEFAULT ((0)) FOR [IsAdmin]
GO
ALTER TABLE [dbo].[UserDetails] ADD  DEFAULT ('') FOR [Password]
GO
ALTER TABLE [dbo].[UserDetails] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[LearningAgreement]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[UserDetails] ([UserID])
GO
ALTER TABLE [dbo].[SelectedSubjects]  WITH CHECK ADD FOREIGN KEY([LearningAgreementID])
REFERENCES [dbo].[LearningAgreement] ([LearningAgreementID])
GO
ALTER TABLE [dbo].[SelectedSubjects]  WITH CHECK ADD FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subjects] ([SubjectID])
GO
ALTER TABLE [dbo].[Transcript]  WITH CHECK ADD FOREIGN KEY([LearningAgreementID])
REFERENCES [dbo].[LearningAgreement] ([LearningAgreementID])
GO
/****** Object:  StoredProcedure [dbo].[usp_AddSubject]    Script Date: 20-06-2019 22:53:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sriram Murali
-- Create date: 01/06/2019
-- Description:	Add a new Subject
-- =============================================
CREATE PROCEDURE [dbo].[usp_AddSubject] 
	@SubjectName varchar(255),
	@Module varchar(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @Success int = 0;
	DECLARE @AlreadyExists int = -2;

	IF NOT EXISTS(SELECT SubjectID FROM Subjects WHERE (SubjectName = @SubjectName OR Module = @Module) AND IsActive = 1)
	BEGIN
	   INSERT INTO Subjects
	   (
	     SubjectName,
		 Module,
		 IsActive,
		 CreatedOn
	   )
	   VALUES
	   (
	     @SubjectName,
		 @Module,
		 1,
		 GETDATE()
	   )

	   RETURN @Success
	END
	ELSE
	BEGIN
	  RETURN @AlreadyExists
	END
    
END
GO
/****** Object:  StoredProcedure [dbo].[usp_ApproveLearningAgreement]    Script Date: 20-06-2019 22:53:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sriram Murali
-- Create date: 22th May 2019
-- Description:	Stored Procedure to approve the Learning Agreement
-- =============================================
CREATE PROCEDURE [dbo].[usp_ApproveLearningAgreement] 
	@StudentID int,
	@subject [Subject] READONLY
AS
BEGIN

	BEGIN TRANSACTION;
	SAVE TRANSACTION MySavePoint;
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @Success int = 0;
	DECLARE @Failure int = -1;

	BEGIN TRY

	  UPDATE SelectedSubjects 
	  SET 
	  IsSelected = S.IsSelected,
	  IsRejectedByAdmin = S.IsRejectedByAdmin,
	  IsDecided = CASE WHEN SelectedSubjects.IsSelected = 1 THEN 1
					   ELSE 0 
				  END
	  FROM @subject S
	  WHERE SelectedSubjects.ID = S.SubjectMappingID

	  UPDATE LA
	  SET LA.IsApproved = 1 
	  FROM LearningAgreement LA
	  INNER JOIN UserDetails UD
	  ON UD.UserID = LA.StudentID
	  WHERE LA.StudentID = @StudentID AND UD.IsDeleted = 0 AND LA.IsDeleted = 0
	  

	  COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION MySavePoint; -- rollback to MySavePoint
			RETURN @Failure
        END
    END CATCH 
  
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllSubjects]    Script Date: 20-06-2019 22:53:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sriram Murali
-- Create date: 09th May 2019
-- Description:	Get all the subjects
-- =============================================
CREATE PROCEDURE [dbo].[usp_GetAllSubjects]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT 
		 SubjectID
		,SubjectName
		,Module
	FROM Subjects WHERE IsActive = 1 


END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetStudentData]    Script Date: 20-06-2019 22:53:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sriram Murali
-- Create date: 16th May 2019
-- Description:	Get the student data
-- =============================================
CREATE PROCEDURE [dbo].[usp_GetStudentData] 
   @StudentID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Personal Data
	SELECT 
		U.FirstName,
		U.LastName,
		U.MatriculationNumber,
		U.UserID AS StudentID,
		ISNULL(LA.IsApproved,0) AS isLearningAgreementApproved
	FROM UserDetails U
	LEFT JOIN LearningAgreement LA 
	ON U.UserID = LA.StudentID AND LA.IsDeleted = 0
	WHERE U.UserID = @StudentID AND U.IsDeleted = 0 

	-- Subject Details
	SELECT 
		SS.SubjectID,
		SS.ID AS SubjectMappingID,
		S.Module,
		S.SubjectName,
		SS.IsSelected,
		SS.IsRejectedByAdmin,
		SS.IsDecided
	FROM SelectedSubjects SS
	INNER JOIN LearningAgreement LA
	ON SS.LearningAgreementID = LA.LearningAgreementID AND SS.IsDeleted = 0
	INNER JOIN UserDetails UD 
	ON UD.UserID = LA.StudentID AND UD.IsDeleted = 0
	INNER JOIN Subjects S
	ON S.SubjectID = SS.SubjectID
	WHERE LA.StudentID = @StudentID

	--Transcript
	SELECT 
		T.FileData,
		T.FileName,
		T.OcrJson
	FROM Transcript T
	INNER JOIN LearningAgreement LA
	ON T.LearningAgreementID = LA.LearningAgreementID AND LA.IsDeleted = 0
	INNER JOIN UserDetails UD 
	ON UD.UserID = LA.StudentID AND UD.IsDeleted = 0
	WHERE UserID = @StudentID AND T.IsDeleted = 0

END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetStudentRequestData]    Script Date: 20-06-2019 22:53:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sriram Murali
-- Create date: 20th May 2019
-- Description:	Procedure to get the student data - Approved/Pending/All(invoked by Admin)
-- =============================================
CREATE PROCEDURE [dbo].[usp_GetStudentRequestData]
	@Type varchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   CREATE TABLE #TempStudent(
     FirstName varchar(255),
	 LastName varchar(255),
	 MatriculationNumber int,
	 StudentID int,
	 isLearningAgreementApproved bit,
	 SubjectID int,
	 SubjectMappingID int,
	 SubjectName varchar(255),
	 Module varchar(255),
	 IsSelected bit,
	 IsRejectedByAdmin bit,
	 IsDecided bit
   )

   INSERT INTO #TempStudent
   SELECT 
		UD.FirstName,
		UD.LastName,
		UD.MatriculationNumber,
		UD.UserID AS StudentID,
		LA.IsApproved AS isLearningAgreementApproved,
		SS.SubjectID,
		SS.ID AS SubjectMappingID,
		S.SubjectName,
		S.Module,
		SS.IsSelected,
		SS.IsRejectedByAdmin,
		SS.IsDecided
	FROM SelectedSubjects SS
	INNER JOIN LearningAgreement LA
	ON SS.LearningAgreementID = LA.LearningAgreementID AND SS.IsDeleted = 0
	INNER JOIN UserDetails UD 
	ON UD.UserID = LA.StudentID AND UD.IsDeleted = 0
	INNER JOIN Subjects S
	ON S.SubjectID = SS.SubjectID
	WHERE SS.IsSelected = 1


	IF(@Type = 'approved')
	BEGIN
	SELECT * FROM #TempStudent WHERE isLearningAgreementApproved = 1;
	END 
	ELSE IF(@Type = 'pending')
	SELECT * FROM #TempStudent WHERE isLearningAgreementApproved = 0;
	ELSE
	SELECT * FROM #TempStudent

END
GO
/****** Object:  StoredProcedure [dbo].[usp_RegisterUser]    Script Date: 20-06-2019 22:53:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sriram Murali
-- Create date: 09th May 2019
-- Description:	Register User
-- =============================================
CREATE PROCEDURE [dbo].[usp_RegisterUser] 
	@FirstName nvarchar(255),
	@LastName nvarchar(255),
	@MatriculationNo int,
	@Email nvarchar(200),
	@Password nvarchar(100)
AS
BEGIN
	

	DECLARE @IsAdmin bit = 0;
	DECLARE @Success int = 0;
	DECLARE @AlreadyExists int = -2;
	DECLARE @SaveStatus int = @Success;

	IF NOT EXISTS(SELECT UserID from UserDetails WHERE (MatriculationNumber = @MatriculationNo OR Email = @Email) AND IsDeleted = 0)
	BEGIN
	INSERT INTO [dbo].[UserDetails]
           ([FirstName]
           ,[LastName]
           ,[MatriculationNumber]
           ,[Email]
           ,[IsAdmin]
           ,[Password])
     VALUES
           (@FirstName
           ,@LastName
           ,@MatriculationNo
           ,@Email
           ,@IsAdmin
           ,@Password)

	 RETURN @Success						
	END
	ELSE
	BEGIN
	 RETURN @AlreadyExists
	END

END
GO
/****** Object:  StoredProcedure [dbo].[usp_SaveOrUpdateLearningAgreement]    Script Date: 20-06-2019 22:53:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sriram Murali
-- Create date: 21st May 2019
-- Description:	Save the student's learning Agreement
-- =============================================
CREATE PROCEDURE [dbo].[usp_SaveOrUpdateLearningAgreement] 
	@StudentID int,
	@IsUpdate bit,
	@TranscriptFileData varchar(max),
	@TranscriptFileName varchar(100),
	@OcrJson nvarchar(max) = null,
	@subject dbo.[Subject] READONLY
AS
BEGIN
	BEGIN TRANSACTION;
	SAVE TRANSACTION MySavePoint;
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @LearningAgreementID int
    DECLARE @Success int = 0;
	DECLARE @Failure int = -1;

	 declare @trancount int;
    set @trancount = @@trancount;

   BEGIN TRY
   IF(@IsUpdate = 1)
   BEGIN
     SELECT @LearningAgreementID = LearningAgreementID FROM LearningAgreement WHERE StudentID = @StudentID
	 
	 -- UPDATE SelectedSubjects SET IsDeleted = 1 WHERE LearningAgreementID = @LearningAgreementID

	 -- INSERT INTO SelectedSubjects
	 -- (
	 --   SubjectID,
		--LearningAgreementID,
		--IsSelected 
	 -- )
	 -- SELECT SubjectID,
	 -- @LearningAgreementID,
	 -- IsSelected
	 -- FROM @subject

	  UPDATE SS
	  SET  SS.IsSelected = S.IsSelected 
	  FROM SelectedSubjects SS
	  INNER JOIN @subject S
	  ON SS.SubjectID = S.SubjectID
	  WHERE SS.LearningAgreementID = @LearningAgreementID

	 -- UPDATE 
		--Transcript 
	 -- SET [FileData] = @TranscriptFileData,
	 -- [FileName] = @TranscriptFileName
	 -- WHERE LearningAgreementID = @LearningAgreementID

	  UPDATE 
	    LearningAgreement
	  SET IsApproved = 0 WHERE LearningAgreementID = @LearningAgreementID

   END
   ELSE
   BEGIN
     
	  -- Learning Agreement
	  INSERT INTO LearningAgreement
	  (
	    StudentID,
		IsApproved
	  )
	  VALUES
	  (
	    @StudentID,
		0
	  )

	  SET @LearningAgreementID = SCOPE_IDENTITY()


	  -- Selected Subjects
	  INSERT INTO SelectedSubjects
	  (
	    SubjectID,
		LearningAgreementID,
		IsSelected,
		IsRejectedByAdmin,
		IsDecided
	  )
	  SELECT SubjectID,
	  @LearningAgreementID,
	  IsSelected,
	  0,
	  0
	  FROM @subject

	  -- Transcript
	  INSERT INTO Transcript
	  (
	    [LearningAgreementID],
	    [FileData],
		[FileName],
		[OcrJson]
	  )
	  VALUES
	  (
	   @LearningAgreementID,
	   @TranscriptFileData,
	   @TranscriptFileName,
	   @OcrJson
	  )

   END
   COMMIT TRANSACTION MySavePoint
   RETURN @Success
   END TRY 
    BEGIN CATCH
       declare @error int, @message varchar(4000), @xstate int;
        select @error = ERROR_NUMBER(), @message = ERROR_MESSAGE(), @xstate = XACT_STATE();
        if @xstate = -1
            rollback;
        if @xstate = 1 and @trancount = 0
            rollback
        if @xstate = 1 and @trancount > 0
            rollback transaction MySavePoint;

        raiserror ('usp_SaveOrUpdateLearningAgreement: %d: %s', 16, 1, @error, @message) ;
    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateSubject]    Script Date: 20-06-2019 22:53:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sriram Murali
-- Create date: 01/06/2019
-- Description:	Update the Subjects
-- =============================================
CREATE PROCEDURE [dbo].[usp_UpdateSubject] 
	@SubjectID int,
	@SubjectName varchar(255),
	@Module varchar(255),
	@IsActive bit
AS
BEGIN
	BEGIN TRANSACTION;
	SAVE TRANSACTION MySavePoint;
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @Success int = 0
	DECLARE @Failure int = -1

	BEGIN TRY

		UPDATE Subjects
		SET 
		SubjectName = @SubjectName, 
		Module = @Module,
		IsActive = @IsActive
		WHERE SubjectID = @SubjectID

		COMMIT TRANSACTION
		RETURN @Success
	END TRY
	BEGIN CATCH
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION MySavePoint; -- rollback to MySavePoint
			RETURN @Failure
        END
    END CATCH

END
GO
